
@{
    ViewBag.Title = "Index1";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>

        <h2>
            By View Index 1 Controlr -- @ViewBag.MyKey
        </h2>
        </body>
    </html>

