
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UsingParameter</title>
</head>
<body>


    @using (Html.BeginForm("UsingFormCollection", "PassDataFromViewToControler", FormMethod.Post))
    {

        <div class="row mb-2">

            <label for="firstname" class="col-md-2 control-label mr-0">First Name </label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="firstname" />
            </div>

        </div>

        @*<div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name">
            </div>*@

        <div class="row mb-2">
            <label class="col-md-2 control-label">Last Name</label>
            <div class="col-md-8">
                <input type="text" class="col-md-10 form-control" name="lastname" />
            </div>

        </div>
        <button type="submit" class="btn btn-success">Save</button>


    }


</body>
</html>
