
@{
    ViewBag.Title = "Index";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        @*<img src="~/Images/shanker511.jpg" alt="no" />*@

        @*my custom helper using static class*@
        @CustomHelper.Image("/Images/shanker511.jpg", "shanker")


        @*using extension method*@

        @Html.Img("/Images/lor21v.jpg", "krishna")

        @Html.ImgTag("/Images/shanker511.jpg", "krishna")

    </body>
    </html>

