
@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
    <title>About Us Page of Standr Html Helper</title>
</head>
<body>

    <div class="container">

        <div class="row">

            <div class="col-12">



            </div>

        </div>

    </div>

</body>
</html>

