
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Index Page of Standr Html Helper</title>
</head>
<body>
    <div class="container m-3">

        <div class="row">

            <div class="col-12">

                @{ 
                   string name = "Manish";
                }

                @Html.ActionLink("Go To About Us Page","About" ,new { name="Manish" })

                <br />

                @Html.TextBox("textbox1",name,new { id="customId", @class="mycustomclass", style="width:400px"})
            </div>

        </div>

    </div>
</body>
</html>

