
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="">
        @*Createing my inline html helper*@

        @helper MyListHelper(string[] str)
        {
            if (str.Length > 0)
            {
                <ul class="list-unstyled">
                    @foreach (var item in str)
                    {
                        <li>@item</li>
                    }
                </ul>
            }
            else
            {
                  <h6>No data Found</h6>
            }


        }
    </div>

    <div >
        <label>Example 1 - Name List</label>
        <div>
            @MyListHelper(new string[] { "Manish", "Kumar", "Sharma" })

            @MyListHelper(new string[] { })
            @*<ul  class="list-inline">
            <li class="list-inlne-item">C</li>
            <li class="list-inline-item">C++</li>
        </ul>*@
        </div>
    </div>
</body>
</html>
